*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #b9b9b9;
}

header {
    background: #727D73;
    color: #F0F0D7;
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 10;
}

.nav-btn {
    display: inline-block;
    padding: 6px 12px;
    margin-right: 5px;
    text-decoration: none;
    color: #F0F0D7;
    background: #727D73;
    border: 1px solid #AAB99A;
    border-radius: 4px;
    font-size: 14px;
}

.nav-btn.active {
    color: #306237;
    background: #F0F0D7; 
    border-color: #306237;
}

main {
    color: #F0F0D7;
    background-color: #AAB99A;
    flex: 1;
    display: flex;
    gap: 20px;
    padding: 20px;
    width: 100%; 
}

aside {
    background: #879678;
    padding: 15px;
    text-align: left;
    max-width: 250px; 
    border-radius: 8px;
}

aside h3 {
    font-size: 18px;    
    margin-bottom: 5px;
    margin-top: 15px;
}

aside ul {
    padding-left: 20px; 
    margin-bottom: 0;
}

ul li {
    padding-bottom: 8px;
    font-size: 14px;
}

section {
    flex: 1;
    background: #AAB99A;
    display: flex; 
    flex-wrap: wrap; 
    align-content: flex-start;
}

section h2, section p {
    width: 100%; 
    margin-top: 0;
}

article {
    width: 100%;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    display: block; 
    margin: 0 auto 15px auto;
}

.foto {
    width: 200px; 
    max-width: 100%;
    padding: 10px;
    border-radius: 15%;
    object-fit: cover;
}

footer {
    background:#727D73;
    color: #F0F0D7;
    text-align: center;
    padding: 15px 0;
    width: 100%;
}

footer a {
    text-decoration: none; 
    color: #F0F0D7; 
    font-weight: bold;
}

@media (max-width: 768px) {
    main {
        flex-direction: column;
        padding: 15px 10px;
        gap: 15px;
    }

    aside {
        max-width: 100%; 
    }

    section {
        width: 100%;
        justify-content: center; 
    }

    .foto {
        width: 45%; 
        padding: 5px;
        border-radius: 10px;
    }
}