body {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    min-height: 100vh;
    min-width: 60vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background: #727D73;
    color: #F0F0D7;
    padding: 1rem;
    position: sticky;
    top: 0;
}

button{
    border: none;
    color: #F0F0D7;
    background: #727D73;
}
main {
    color: #F0F0D7;
    background-color: #AAB99A;
    flex: 1;
    display: flex;
    gap: 20px;
    padding: 20px;
}

article {
    flex: 3;
    background:#AAB99A;
    padding: 20px;
}

aside {
    background: #879678;
    padding: 10px;
    text-align: left;
    max-width: 200;
    max-height:570;

}

aside ul{
font-size: large;    
padding-left: 0;
margin-bottom: 0;
overflow-y: scroll;
}

ul li{
    padding-bottom: 10px;
    font-size: smaller;
}

section {
    flex: 1;
    background: #AAB99A;
    padding: 20px;
    justify-content: center;
}

footer {
    background:#727D73;
    color: #F0F0D7;
    text-align: center;
    padding: 8px;
}


.project-gallery {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.project-item {
    flex: 1 1 200px;
    background: white;
    padding: 10px;
    border-radius: 5px;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    max-width: 200px;
    flex: auto;
    margin: 0; 
}
